.login-box {
  background-color: #fff;
  border-radius: 5px;
  height: 95%;
  width: 55%;
  direction: rtl;
  display: flex;
  flex-direction: column;
}
.login-wrapper {
  padding: 20px;
}
.login-wrapper .title {
  font-size: 25px;
  color: rgba(240, 5, 36, 0.884);
  font-weight: bold;
  margin: 30px 0px;
}
.form-floating {
  border-bottom: 1px solid #ddd;
}
.form-floating input {
  border: none;
  outline: unset;
}
.form-floating .input-label {
  width: 100%;
}
.form-check {
  width: 30%;
  margin: 20px 0px;
}
.form-check-label {
  font-size: 12px;
}
.btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
}
.forget-password {
  border: none;
  background-color: unset;
  font-size: 11px;
  direction: rtl;
}
.forget-password:hover {
  color: #858484;
}
.submit-btn {
  padding: 8px 12px;
  border: none;
  background-color: rgba(240, 5, 36, 0.884);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
